/* body{
    background-image: url(../img/homepage_bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
} */
.body-container {
    width: 100%;
    position: absolute;
    top: 0;
    /* left: 0; */
}
.video {
    width: 1300px;
    height: 600px;
    margin: 150px auto;
    margin-bottom: 0;

    background-image: url(../img/video_frame.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* background-color: #bbb; */
}
.video-content {
    width: 894px;
    height: 518px;
    margin: 22px 0 0 202px;
    border-radius: 15px;
    background-color: black;
}
.play-btn {
    width: 100px;
    height: 100px;
    position: relative;
    top: -190px;
    left: 52px;
    border-radius: 50px;
    opacity: 0;
}
.logo-text {
    width: 100%;
    text-align: right;
    margin-top: 420px;
}
.logo-text > img {
    padding-right: 215px;
    width: 500px;
    height: auto;
}
.photo_wall {
    width: 100%;
    height: 670px;

    margin: 375px 0 0 0;

    /* background-color: #bbb; */
}
.photo_wall > .photo_container {
    width: 1180px;
    height: 670px;
    margin: 0 auto;
    overflow: auto;
    /* position: relative; */
}
.f-right {
    float: right;
}
.f-left {
    float: left;
}
.f-left,.f-right {
    line-height: 670px;
    display: inline-block;
    width: 105px;
}
.f-right > img {
    width: 100%;
}
.f-left > img {
    width: 100%;
}
.item__img {
    width: 514px;
    height: auto;
    cursor: pointer;
}
.title-text__big {
    margin-top: 172px;
    padding-bottom: 293px;
    padding-left: 80px;
    font-size: 180px;
    letter-spacing: 12px;
    line-height: 168px;
    font-family: CAMEO;
}
.title-text__big > span {
    font-family: Neuropol;
    font-size: 140px;
    letter-spacing: 16px;
}
.title-text__small {
    position: absolute;
    top: 1720px;
    left: 1099px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 4px;
    font-family: Neuropol;
}
.title-text__small > h4 {
    font-size: 40px;
    line-height: 30px;
}
.title-text__vertical {
    position: absolute;
    top: 1830px;
    left: 955px;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 8px;
    font-family: Neuropol;

    transform: rotate(90deg);
}