
.header__title {
    font-family: Neuropol;
    font-size: 75px;
    float: left;
    letter-spacing: 12px;
    position: absolute;
    transform: rotate(90deg);
    top: 450px;
    left: -380px;
    font: thin;
}
.header__text {
    font-family: Neuropol;
    font-size: 78px;
    line-height: 95px;
    float: left;
    letter-spacing: 10px;
    margin-left: 145px;
}
.nav {
    width: 730px;
    margin-top: 100px;
}
.logo {
    float: right;
    width: 350px;
    padding-right: 110px;
    margin-top: 80px;
}
.logo > img {
    width: 100%;
    height: auto;
}
.list-card {
    position: absolute;
    top: 700px;
    margin: 40px 50px 0 50px;
    padding: 40px 50px 0 50px;
}
.list-card__text {
    width: 90%;
    margin: auto;
    text-align: right;
}
.list-card__text > p {
    display: inline-block;
    line-height: 90px;
    font-size: 80px;
    text-align: left;
}
.list {
    width: 90%;
    margin: 50px auto;
}
.list > .list_el {
    width: 33%;
    height: 550px;
    text-align: center;

    display: inline-block;
}
.list > .list_el > .info-card {
    display: inline-block;
    width: 275px;
    height: 458px;
}
/* .info-card:hover {
    box-shadow: 0px 0px 15px #666;
} */
.load-more {
    text-align: center;
    font-family: Neuropol;
    font-size: 34px;
    letter-spacing: 4px;
    cursor: pointer;
}
.video-section {
    position: absolute;
    width: 100%;
    top: 1380px;
}
.video {
    width: 940px;
    height: 600px;
    margin: 150px auto;
    margin-bottom: 0;

    background-image: url(../img/img_frame.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* background-color: #bbb; */
}
.video-content {
    width: 644px;
    height: 376px;
    margin: 14px 0 0 148px;
    border-radius: 8px;
    background-color: black;
}
/*
---------insight--------
*/
.x-axis-text {
    position: absolute;
    transform: rotate(90deg);
    font-family: Arial-black;
    font-size: 13px;
    line-height: 50px;
    width: 180px;
    margin: 0;
    top: 180px;
    left: 635px
}
.female,.male {
    position: absolute;
    font-family: Arial;
    font-style: italic;
    font-size: 20px;
    top: 206px;
    left: 880px;
}
.male {
    top: 546px;
    left: 880px;
}
.chart-title {
    position: absolute;
    transform: rotate(90deg);
    top: 310px;
    left: 320px;
    font-family: Arial-bold;
}
.play-btn-left {
    width: 66px;
    height: 66px;
    margin-left: 33px;
    margin-top: 66px;
    border-radius: 33px;
    opacity: 0;
    cursor: pointer;
}
.play-btn-right {
    width: 66px;
    height: 66px;
    margin: 180px 0 0 115px;
    top: 56px;
    border-radius: 33px;
    opacity: 0;
    cursor: pointer;
}
#title {
    float: left;
    width: 300px;
    text-align: center;
    line-height: 376px;
    font-size: 33px;
    font-family: Arial-black;
}
#question {
    float: left;
    width: 280px;
    height: 376px;
    line-height: 35px;
    font-size: 25px;
    font-family: Arial;
    margin-top: 76px;
}
#question > span {
    text-decoration: underline;
    color: #ba70f2;
    font-family: Neuropol;
    font-size: 22px;
    letter-spacing: 3px;
    font: thin;
}
/*
--------GTalk--------
*/
.talk-section {
    position: absolute;
    width: 100%;
    top: 1830px;
}
.talk-container {
    width: 645px;
    margin: 0 auto;
    height: 500px;

    /* background-color: #ccc; */
}
.list-item {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: solid 2px black;
}
.list-item__question {
    width: 100%;
    font-family: Neuropol;
    font-size: 16px;
    padding: 8px 6px;
    letter-spacing: 2px;
}
.list-item__anser {
    width: 100%;
    font-size: 16px;
    padding: 8px 6px;
}
.list-item__icon {
    width: 260px;
    padding: 18px 8px;
}
.talk-input {
    width: 100%;
    position: absolute;
    top: 860px;
}
.talk-input-container {
    width: 517px;
    height: 870px;
    margin: 0 auto;
    background-image: url(../img/input-bg.png);
    background-repeat: no-repeat;
}
.input {
    width: 278px;
    height: 236px;
    margin: 114px 0 0 124px;
    border: none;
    background-color: rgba(255,255,255,0);
    font-size: 21px;
    line-height: 32px;
    font-family: Neuropol;
}
.input:focus {
    outline: none;
}
.input::placeholder {
    color: #666;
}
.talk-cancel {
    width: 72px;
    height: 72px;
    border-radius: 36px;
    position: relative;
    top: 245px;
    left: 13px;
    opacity: 0;
    cursor: pointer;
}